---
title: Circle
---
<h2>Welcome to the spinning dial.</h2>
<div class="circle js-circle noSelect">
    <div class="circle-main">
        <div class="circleItem circleItem_1">
            <div class="circleItem-hat">Lorem</div>
            <div class="hdg hdg_5">Ipsum Dolor Sit</div>
        </div>
        <div class="circleItem circleItem_2">
            <div class="circleItem-hat">Sit</div>
            <div class="hdg hdg_5">Lorem Ipsum Dolor</div>
        </div>
        <div class="circleItem circleItem_3">
            <div class="circleItem-hat">Dolor</div>
            <div class="hdg hdg_5">Sit Lorem Ipsum</div>
        </div>
        <div class="circleItem circleItem_4">
            <div class="circleItem-hat">Ipsum</div>
            <div class="hdg hdg_5">Dolor Sit Lorem</div>
        </div>
    </div>
</div>
